name: Add All Issues

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add all issues to project
    runs-on: ubuntu-latest
    environment: project
    steps:
      - name: Add Issue
        uses: actions/add-to-project@960fbad431afda394cfcf8743445e741acd19e85
        with:
          project-url: https://github.com/orgs/sossickd/projects/55
          github-token: ${{ secrets.SECRET }}
